.inputFileUpload {
  display: none;
}

.labelFileUpload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

.uploadButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1d1d1d;
}
.uploadButtonNone {
  display: none;
}
.upload-button:hover {
  text-decoration-line: underline;
}

.title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  color: #1d1d1d;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
.dropArea {
  background: #ffffff;
  border: 2px dashed #fbe0dc;
  border-radius: 20px;
  width: 636px;
  height: 316px;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.loadedPhoto {
  object-fit: cover;
  object-position: top center;
  border-radius: 10px;
}
.loadedPhotoNone {
  display: none;
}
.dragFileElement {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.upload {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff868e;
  border-radius: 10px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
}
.upload:hover {
  background: #fbe0dc;
  color: #ff868e;
}
.uploadLoading {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff868e;
  border-radius: 10px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
}
.containerPhotoInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}
.noFile {
  margin-top: 20px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
  text-align: center;
  display: block;
}
.assignment {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ff868e;
}
.buttonAssignment {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}
.m {
  position: relative;
  overflow: hidden;
  flex: 1 0 auto;
  max-width: 100%;
  display: flex;
}
.containerimg {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px dashed #fbe0dc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
.containerimgWrong {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fbe0dc;
  border: 2px dashed #ff868e;
  border-radius: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notice {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
}
.noticeIcon {
  background-image: url('./img/delet.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.noticeIconCorrect {
  background-image: url('./img/add.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.message {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 18px;
  padding-right: 19px;
}
.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  padding-top: 10%;
}
.loader {
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-right: 10px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
