@import-normalize; /* bring in normalize.css styles */
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
}

h1,
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.listButton {
  display: flex;
}
* :hover {
  transition: 1s;
}
